
.header-container {
	display: grid;
	grid-area: 1 / 1 / 6 / 2;
	grid-gap: 0;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.header {
	grid-area: 1 / 1 / 4 / 3;
	white-space: pre-line;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.header__header {
	font-size: 65px;
	font-weight: 600;
}
.social-list {
	display: flex;
}

.social-list .item {
	list-style-type: none;
}
.item + .item {
	margin-left: 24px;
}
.social__icon {
	display: block;
	width: 29px;
	height: 23px;
}

.header-text {
	grid-area: 4 / 1 / 6 / 3;
	height: 100%;
	white-space: pre-line;
	background: #828282;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
}
