
.header-container {
	display: grid;
	grid-area: 1 / 1 / 6 / 2;
	grid-gap: 0;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.header {
	display: flex;
	grid-area: 1 / 1 / 4 / 3;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	white-space: pre-line;
}

.header__title {
	margin: 0;
	font-size: 65px;
	font-weight: 600;
}

.social-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.social-list .item {
	margin: 0 12px;
	list-style-type: none;
}

.social__icon {
	display: block;
	width: 29px;
	height: 23px;
}

.header-text {
	display: flex;
	grid-area: 4 / 1 / 6 / 3;
	align-items: center;
	justify-content: center;

	height: 100%;
	margin: 0;

	font-weight: 300;
	color: #FFF;
	white-space: pre-line;

	background: #828282;
}

@media (max-width: 1200px) {
	.header__title {
		font-size: 48px;
	}

}

@media (max-width: 992px) {
	.header-container {
		grid-area: 1 / 1 / 3 / 2;
	}
}

@media (min-width: 320px) and (max-width: 640px)  {
	.header-container {
		grid-area: 1 / 1 / 2 / 2;
	}
}
