.pictures-one {
	display: grid;
	grid-area: 1 / 3 / 6 / 5;
	grid-gap: 0;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.girl-hat {
	grid-area: 1 / 1 / 4 / 3;
}

.coffee {
	grid-area: 4 / 1 / 6 / 2;
}

.coffee  img{
	height: 100%;
	object-fit: cover;
}

.coffee-block_bg-brown {
	grid-area: 4 / 2 / 6 / 3;
	background: #A6806B;
}
